.grid-container {
  width: 1px;
  height: 1px;
  display: grid;
  grid-template-columns: repeat(6, minmax(8rem, 1fr));
  grid-template-rows: repeat(6, minmax(8rem, 1fr));
}

/* .grid-item {
  border: 1px solid;

}  */

.patchStyle {
  /* background-color: yellow; */
  border: 5px;
  border-color: black;
  text-align: center
}
