.grid-container {
  /* width: 1px;
  height: 1px; */
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: repeat(6, 16vw);
  grid-template-rows: repeat(6, 16vh);
  /* grid-auto-columns: 400px;
  grid-auto-rows: 400px; */


}

/* .grid-item {
  border: 1px solid;
  overflow: hidden;  /* NEW */
     /* NEW; needed for Firefox */

}  */

.patchStyle {
  /* background-color: yellow; */
  border: 5px;
  border-color: black;
  /* text-align: center */
}
