.grid-container {
  /* width: 1px;
  height: 1px; */
  display: grid;
  grid-template-columns: repeat(19, 5.26vw);
  grid-template-rows: repeat(19, 5.26vh);
  /* minmax(8rem, 1fr) */
}

/* .grid-item {
  border: 1px solid;
  overflow: hidden;  /* NEW */
     /* NEW; needed for Firefox */

}  */

.patchStyle {
  /* background-color: yellow; */
  border: 5px;
  border-color: black;
  /* text-align: center */
}

video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}
